*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Roboto', sans-serif;
}

#container{
    background-color: lightgrey;
    padding: 50px 0 10px;
    
}

main{
    background-color: white;
    margin: 0 20%;
    border-radius: 5px;
    padding: 15px;
    border-bottom:2px solid lightgray ;
    
}

.title-space{
    margin: 50px 30px 0;
}

/* start header */
header{
    margin: 10px 20px;    
}

#logo{
    vertical-align: middle;
}

#logo-txt{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;  
}

/* end header */

/* start button */
.main-button{
    border-bottom: 1px solid white;

}

button{
    padding: 10px;
    border-radius: 5px;
    font-size: medium; 
    margin: 3px;

}

.button-task{
    background-color: #56a5cc;    
    color: white;
    border-color: #56a5cc;
}

.button-section{
    background-color: white;    
    color: grey;
    border-color: grey;
}

/* end button */

/* title section */

h2::before{
    content: '\25BC';
    color: rgb(83, 82, 82);
}
h2{
    color: rgb(83, 82, 82);
    font-weight: bold;
}

/* check conteiner */

.check-entity::before{
    content: '\2713';
    color: green; 
    border: 1px solid green;
    width: 20px;
    border-radius: 50%;
    padding: 2px; 
    margin-right: 5px;     

    
}

/* cross container */

.cross-entity::before{
    content: '\2717';
    color: red; 
    border: 1px solid red;
    width: 20px;
    border-radius: 50%;
    padding: 2px;
    margin-right: 5px;     
}

/*  general labels features */
.space{
    margin: 15px ;    
}

.label-layout{
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

 /* specific labels features */

.editorial-label{
    background-color: #45ABE9;
    color: white;
   
}

.goals-label{
    background-color: #9C72E4;
    color: white;
   
}

.recruiting-label{
    background-color: #64C0A8;
    color: white;
   
}

.mobile-label{
    background-color: #F29E33;
    color: white;
  
}

.website-label{
    background-color: #D863A0;
    color: white;
   
}

.sales-label{
    background-color: #B0C926;
    color: white;
    
}